.box {
  width: 300px;
  height: 200px;
  background-color: #69d147;
  padding: 10px;
  margin: 25px;
}
.container {
  width: 500px;
  height: 200px;
  background-color: #94D7EC;
  border-radius: 32px;
  padding: 20px;
  margin:0px auto;
}
.row {
    width:450px;
    height: 60px;
    margin: 10px 20px;
    border:0px solid #000;
}
.col {
    padding: 10px;
    float:left;
    border: 0px solid #000;
}
.col-label{
    width:140px;
}
.col-elem{
    width:260px;
}
.inp-box{
    height:30px;
    width:250px;
    border: 1px solid #000;
}
#error_msg_container{
    margin: 0px auto;
    background-color: #F7F1A9;
    border:2px solid #F7AB13;
    width:500px;
    height: 40px;
    padding: 10px;
    color: red;
    display:none;
}
