* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eaf4fb;
}

/* HEADER */
.header {
    width: 100%;
    /* border: 2px solid black; */
    overflow: auto;
    background-color: white;
    padding: 10px;
}

.logo, .search-bar, .dropdown {
    float: left;
    /* border: 2px solid black; */
    padding: 10px;
    height: 100px;
}

.logo {
    width: 20%;
    text-align: center;
}

.logo img {
    height: 50px;
}

.logo-text {
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.search-bar {
    width: 55%;
    text-align: center;
}

.search-bar input {
    width: 70%;
    padding: 8px;
}

.search-btn {
    padding: 8px 12px;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown {
    width: 20%;
    text-align: center;
}

.dropdown select {
    padding: 5px;
}

.dropdown a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
}

/* MAIN LAYOUT */
.main {
    width: 100%;
    /* border: 2px solid black; */
    background-color: white;
    margin-top: 10px;
    overflow: auto;
    padding: 10px;
}

.left, .middle, .right {
    float: left;
    /* border: 2px solid black; */
    min-height: 300px;
    padding: 15px;
}

.left { width: 32%; }
.middle { width: 33%; }
.right { width: 30%; }

.left .main-image {
    width: 90%;
    border: 1px solid #aaa;
}

/* FEEDBACK FORM */
textarea {
    width: 90%;
    /* border: 1px solid #888; */
    padding: 5px;
}

input[type="text"], select {
    width: 90%;
    padding: 5px;
    /* border: 1px solid #555; */
}

.submit-btn {
    padding: 8px 16px;
    cursor: pointer;
}

/* FOOTER */
.footer {
    margin-top: 10px;
    /* border: 2px solid black; */
    text-align: center;
    background-color: white;
    padding: 20px;
    font-size: 14px;
}

.payments img {
    height: 35px;
    margin: 5px;
}
